/*===========================================================================*/
/* Login Page */

/* SVG Backgroung */
body.login {
  background-color: $bgdark;
  padding: 0;
}

.login svg {
  background-color: $bgdark;
}

.loginRect {
  fill: $bglight;
  stroke: $bgdark;
  stroke-width: .5;
  -moz-transition: fill 0.1s;
  -o-transition: fill 0.1s;
  -webkit-transition: fill 0.1s;
  transition: fill 0.2s;
}

.loginRect:hover {
  fill: $bbyellow;
}

/* Logo & Form container */
div.container.float {
  position: absolute;
  // margin-top: 10%;
  top: 20%;
  bottom: 20%;
  height: 60%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  pointer-events: none;
}

/* BPP Logo */
div.login {
  opacity: 0;
  background-color: $bglight;
  color: $bgdark;
  border: 4px solid $bgdark;
  border-radius: 1em;
  box-shadow: 4px 4px 7px 7px rgba(0, 0, 0, 0.7);
  padding: 0;
  position: relative;
  width: 100%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  @media #{$medium} {
    width: 60%;
    margin-bottom: 10%;
  }
  @media #{$large} {
    width: 50%;
    margin-bottom: 10%;
  }
}

div.logo {
  background-color: $bglight;
  border-radius: 1em 1em 0 0;
}
.login img {
  margin: 5% 25%;
  width: 50%;
}

div.form {
  pointer-events: auto;
  margin-top: 5%;
}

/* Login Form */
.login h1 {
  text-align: center;
}

.login hr {
  color: $bgdark;
  border: 1px solid $bgdark;
  margin-left: 5%;
  margin-right: 5%;
}

.login form {
  padding: 1em;
}

.login form div + div {
  margin-top: 1em; /* space between form inputs */
}

.login label {
  display: inline-block;
  width: 20%;
  text-align: right;
  font-weight: bold;
}

.login input {
  color: $bgdark;
  background-color: white;
  width: 75%;
  box-sizing: border-box;
  // border: 2px solid $bbyellow;
  padding: 0.5em;
  margin-left: 1em;
  border-radius: 0.5em;
}

.login input:focus {
  outline: none;
  border: 2px solid $bbred;
}

.login textarea {
  vertical-align: top;
  height: 5em;
  /*resize: vertical;*/
}

.button {
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 40%;
  padding-right: 40%;
}

.login button {
  width: 100%;
  padding: 0.5em;
  margin-left: 1em;
  text-align: center;
  color: #000;
  background-color: $bbyellow;
  border: none;
  outline: none;
  border-radius: 1em;
}

.login button:hover {
  background-color: $bbred;
  color: white;
}
