/*===========================================================================*/
/* Media breakpionts */
$small: '(max-width: 400px)';
$medium: '(min-width: 401px) and (max-width: 799px)';
$large: '(min-width: 800px)';

/* Responsive Text */
@media (min-width: 300px) {
  body {
    font-size: 8px;
  }
}

@media (min-width: 450px) {
  body {
    font-size: 10px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 14px;
  }
}
