/*===========================================================================*/
/* Attribute Line Chart */
.attributeChart {
  position: relative;

  .axis {
    pointer-events: none;
  }

  .axis .domain {
    stroke: none;
  }

  .axis line {
    stroke: #FEFEFE;
    stroke-width: 1.5px;
  }

  .company circle {
    pointer-events: none;
  }

  .company path.line {
    fill: none;
    pointer-events: none;
    stroke-width: 2.5px;
  }

  #tooltipSelectors rect {
    opacity: 0;
    fill: $bbyellow;
    &:hover
    {
      opacity: 1;
    }
  }

  .tooltip {
    position:absolute;
    width: auto;
    height: auto;
    padding: 0.5em;
    font-size: 1em;
    color: #fff;
    background-color: $bbred;
    z-index: 2;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    border-radius: 2px;
    pointer-events: none;
  }

  .legendBG {
    fill: $bglight;
  }

  .legendItem rect {
    fill: none;
    stroke: none;
  }

}
