/*===========================================================================*/
/* SalesFunnel / Awareness */

.aided { fill: #AFAFAF; }
.unaided { fill: #222; }
.aided:hover, .unaided:hover { fill: $bbyellow; }
