/*===========================================================================*/
/* Media breakpionts */
$small: '(max-width: 400px)';
$medium: '(min-width: 401px) and (max-width: 799px)';
$large: '(min-width: 800px)';

/*===========================================================================*/
/* Colors */
$bbred: #DA291C;
$bbyellow: #FFD100;
$bgdark: #222;
$bglight: #E4E4E4;
