extends ../layout

block content    
  script(src="//d3js.org/d3.v3.min.js" charset="utf-8")
  #chart.wrapper()
  script
    include bar.js
  script.    
    $(document).ready( function() {
      var height = window.innerHeight - $('.navbar').height() - 40;          
      $('#chart').height(height);                      
      var chart = barChart(d3.select('#chart'));   
      chart();      
      
      $(window).on('resize', function() {
        height = window.innerHeight - $('.navbar').height() - 40;         
        $('#chart').height(height);      
      });
    });
