extends ../layout

block content  
  #chart.wrapper()
  script
    include bpi.js
  script.
      $(document).ready( function() {
        var height = window.innerHeight - $('.navbar').height() - 50;          
        $('#chart').height(height);      
        bpiChart(d3.select('#chart'));
        
        $(window).on('resize', function() {
          var height = window.innerHeight - $('.navbar').height() - 50;
          $('#chart').height(height);
        });
      });

    
