extends ../chart

block chart
  script.
    $(document).ready( function() {
      var height = window.innerHeight - $('.navbar').height() - 50;          
      $('#chart').height(height);      
      var chart = marketMap(d3.select('#chart'));
      chart();
      
      $(window).on('resize', function() {
        var height = window.innerHeight - $('.navbar').height() - 50;
        $('#chart').height(height);
      });
    });
