extends ../layout

block content  
  p Welcome to the #{title}
  script(src="//d3js.org/d3.v3.min.js" charset="utf-8")
  #chart.wrapper()
  script
    include marketMap.js
  script.
    $(document).ready(function () {
      var chart = marketMap(d3.select('#chart'));
      chart();
    });
