extends ../chart

block chart  
  script
    include pie.js
  //- script.
  //-   $(document).ready( function() {
  //-     var height = window.innerHeight - $('.navbar').height() - 50;          
  //-     $('#chart').height(height);      
  //-     awarenessChart(d3.select('#chart'));
  //-     
  //-     $(window).on('resize', function() {
  //-       var height = window.innerHeight - $('.navbar').height() - 50;
  //-       $('#chart').height(height);
  //-       d3.select('#chart svg').remove();
  //-       awarenessChart(d3.select('#chart'));
  //-     });
  //-   });

    
