extends ../chart

block chart  
  script
    include salesFunnel.js
  script.
    $(document).ready( function() {
      var height = window.innerHeight - $('#topbar').height();          
      $('#chart').height(height);      
      salesFunnel(d3.select('#chart'));
      
      $(window).on('resize', function() {
        height = window.innerHeight - $('#topbar').height();
        $('#chart').height(height);
      });
    });     

    
