extends header
block includes
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
block body
  #admin
  script(src="http://localhost:8080/scripts/admin.js")
  //- script(src="/scripts/admin.js")
