extends nav

block content
  #chart()
  script.
    $(document).ready( function() {
      var height = $(window).height() - $('#topbar').height();          
      $('#chart').height(height);      
      d3.select('#chart').call(charts.#{model});
    });
    
    $(window).on('resize', function() {
      var height = $(window).height() - $('#topbar').height();
      $('#chart').height(height);
    });
