//- http://getbootstrap.com/examples/dashboard/#
//- http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title= title
    //- Libraries
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/cover.css')  
    link(rel='stylesheet', href='/stylesheets/charts.css')    
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(src="//d3js.org/d3.v3.min.js" charset="utf-8")
  body  
    nav#main-navigation.navigation
      a(href='/charts/awareness') Awareness          
      a(href='/charts/salesFunnel') Sales Funnel
      a(href='/charts/bpi') BPI
      a(href='/charts/attributeChart') Attributes
      a(href='/charts/marketMap') Market Map
      a(href='/charts/bar') Bar Chart
      
    //- Main content area
    div.page-wrap
      header
        a(href='#main-navigation') Menu
        h1 title
      block content
          
          
          
