doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title= title
    //- Libraries
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')      
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(src="//d3js.org/d3.v3.min.js" charset="utf-8")    
    block includes  
  block layout
