extends nav

block content
  h1 Welcome to the Brand Performance Platform
  if (!user)
    a(href='/login') Login
    br
    a(href='/register') Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href='/logout') Logout
