extends header
block body
  #site-wrapper
    #sidebar-wrapper(role="navigation")
      ul
        li.sidebar-header
          p Charts       
        li
          a(href='/charts/barChart') Bar Chart
        li
          a(href='/charts/attributeChart') Attributes
        li
          a(href='/charts/salesFunnel') Sales Funnel
        li
          a(href='/charts/marketMap') Market Map
        li
          a(href='/charts/bpiChart') BPI
    //- Menu trigger has to be outside of page-wrapper for css targetting
    //- Also, input must be before label for css targetting
    //- input#nav-trigger(type='checkbox', class='nav-trigger')          
    //- label(for='nav-trigger') YO
    //- Nav Trigger  
    #page-wrapper      
      .container-fluid
        .row
          .col-lg-12#topbar(role="navigation")
            span#sidebar-toggle.glyphicon.glyphicon-menu-hamburger
            span#menu-title Brand Performance Platform
            .dropdown
              button#views.btn.btn-default.dropdown-toggle(
                type="button",
                data-toggle="dropdown",
                aria-haspopup="true",
                aria-expanded="true") Views 
                  .span.caret             
              ul.dropdown-menu.dropdown-menu-right(aria-labelledby="views")
                li
                  a(href="/") Charts
                li
                  a(href="/Admin") Admin
                li
                  a(href="/logout") Logout                        
          //- Main content area      
        .row
          #content.col-lg-12
            block content
    script.
      $("#sidebar-toggle").click(function(e) {
        e.preventDefault();
        $("#page-wrapper").toggleClass("pushed");
      });
        
