extends header
block includes
  link(rel='stylesheet', href='/stylesheets/main.css')
block body
  body    
    ul.navigation
      li.nav-item.menu-header
        p Charts
      li.nav-item
        a(href='/charts/awarenessChart') Awareness          
      li.nav-item
        a(href='/charts/salesFunnel') Sales Funnel
      li.nav-item
        a(href='/charts/bpiChart') BPI
      li.nav-item
        a(href='/charts/attributeChart') Attributes
      li.nav-item
        a(href='/charts/marketMap') Market Map
      li.nav-item
        a(href='/charts/barChart') Bar Chart
        
    //- Nav Trigger    
    input#nav-trigger(type='checkbox', class='nav-trigger')
    label(for='nav-trigger')        
    
    //- Main content area
    div.site-wrap
      #topbar
        p Brand Performance Platform
        a(href='/logout')
          button(type='button') Logout
      block content
          
          
          
