extends header
block body  
  form(id="fileUpload" action="/data/upload", method="post", enctype="multipart/form-data")
    h2 Upload Data File
    label(for="username") Username
      select(name="username")
        option(value="value1") Value 1
        option(value="value2") Value 2
        option(value="value3") Value 3
    br     
    label(for="file") Select a file:
      input(name="file" type="file")
    br
    button(type="submit") Submit
