/*===========================================================================*/
/* BPI */

.bgrect { fill: #F2F2F2; }
.character { fill: #222; }
.relationship { fill: #808080; }
.impact { fill: #B6B6B6; }
.bpi { fill: $bbred; }
.bpiLabel {
  fill: white;
  font-weight: bold;
}
.bpiCompany { font-weight: bold; }
