/*===========================================================================*/
/* Global Styles */
svg {
  border: 1px solid #ccc;
}

svg text {
  pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

/*===========================================================================*/
/*Login Page*/
body.login {
  background-color: #000;
  padding: 0;
}

.loginRect {
  fill: #111;
  stroke: #777;
  stroke-width: .5;
  -moz-transition: fill 0.1s;
  -o-transition: fill 0.1s;
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
}

.loginRect:hover {
  fill: #ffd02f;
}

/*===========================================================================*/
/* Bar Chart */
.bar * {
  fill: #222;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.bar rect:hover {
  fill:#ffd02f;
}

.bar .valueLabel {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  fill: #fff;
}

.bar:hover .valueLabel {
  fill: #000;
}

/*===========================================================================*/
/* Factor Map */
.clusterCircle {
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  fill: #222;
}

.clusterText {
  font-weight: bold;
}

.clusterCircle:hover {
  fill:#ffd02f;
}

.client {
  fill: #DA291C;
}

#chart.wrapper {
  position: relative;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}

/*===========================================================================*/
/* Attribute Line Chart */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px;
}

/*===========================================================================*/
/* SalesFunnel / Awareness */
.awareness:hover, .preference:hover, .consideration:hover, .purchase:hover {
  fill: #ffd100 !important;
}

/*.tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  background-color: white;
  pointer-events: none;
}*/
