/*===========================================================================*/
/* Global Styles */
svg {
  border: 1px solid #ccc;
  background-color: #E4E4E4; }

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges; }

.axis text {
  font-family: sans-serif;
  font-size: 11px; }

.legend text {
  cursor: default; }

/*===========================================================================*/
/* Bar Chart */
.bar * {
  fill: #222;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s; }

.bar rect:hover {
  fill: #FFD100; }

.bar .valueLabel {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  fill: #fff; }

.bar:hover .valueLabel {
  fill: #000; }

/*===========================================================================*/
/* Factor Map */
.clusterCircle {
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  fill: #222; }

.clusterText {
  font-weight: bold; }

.clusterCircle:hover {
  fill: #FFD100; }

.client {
  fill: #DA291C; }

#chart.wrapper {
  position: relative; }

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none; }

#tooltip.hidden {
  display: none; }

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px; }

/*===========================================================================*/
/* Attribute Line Chart */
.line {
  fill: none;
  stroke-width: 2.5px; }

/*===========================================================================*/
/* SalesFunnel / Awareness */
.companyBG {
  fill: #F2F2F2; }

.aided {
  fill: #AFAFAF; }

.unaided {
  fill: #222; }

.aided:hover, .unaided:hover {
  fill: #FFD100; }

rect.awareness, circle.awareness {
  fill: #222; }

rect.consideration, circle.consideration {
  fill: #4C4C4C; }

rect.preference, circle.preference {
  fill: #7E7E7E; }

rect.purchase, circle.purchase {
  fill: #AFAFAF; }

rect.highlight, circle.highlight {
  fill: #FFD100 !important;
  stroke-width: 3px;
  stroke: #FFD100; }

#chart {
  position: relative; }

.tooltip {
  position: absolute;
  z-index: 2;
  height: auto;
  width: auto;
  padding: 0.3em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  background-color: #DA291C;
  color: #fff;
  opacity: 1;
  border-radius: 2px;
  pointer-events: none; }

.hidden {
  opacity: 0; }

.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 1.2em;
  width: 100%;
  top: 100%;
  left: 0;
  margin: -0.2em 0 0 0;
  line-height: 1;
  color: #DA291C;
  content: "\25BC";
  position: absolute;
  text-align: center; }

/*===========================================================================*/
/* BPI */
.bgrect {
  fill: #F2F2F2; }

.character {
  fill: #222; }

.relationship {
  fill: #808080; }

.impact {
  fill: #B6B6B6; }

.bpi {
  fill: #DA291C; }

.bpiLabel {
  fill: white;
  font-weight: bold; }

.bpiCompany {
  font-weight: bold; }
