/*===========================================================================*/
/* Responsive Text */
@media (min-width: 300px) {
  body {
    font-size: 8px;
  }
}

@media (min-width: 450px) {
  body {
    font-size: 10px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 14px;
  }
}

/*===========================================================================*/
/* Global Styles */
svg {
  border: 1px solid #ccc;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

/*===========================================================================*/
/*Login Page*/
body.login {
  background-color: #000;
  padding: 0;
}

.loginRect {
  fill: #111;
  stroke: #777;
  stroke-width: .5;
  -moz-transition: fill 0.1s;
  -o-transition: fill 0.1s;
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
}

.loginRect:hover {
  fill: #ffd02f;
}

/*===========================================================================*/
/* Bar Chart */
.bar * {
  fill: #222;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.bar rect:hover {
  fill:#ffd02f;
}

.bar .valueLabel {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  fill: #fff;
}

.bar:hover .valueLabel {
  fill: #000;
}

/*===========================================================================*/
/* Factor Map */
.clusterCircle {
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  fill: #222;
}

.clusterText {
  font-weight: bold;
}

.clusterCircle:hover {
  fill:#ffd02f;
}

.client {
  fill: #DA291C;
}

#chart.wrapper {
  position: relative;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}

/*===========================================================================*/
/* Attribute Line Chart */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px;
}

/*===========================================================================*/
/* SalesFunnel / Awareness */

rect.awareness, circle.awareness { fill: #222; }
rect.consideration, circle.consideration { fill: #4C4C4C; }
rect.preference, circle.preference { fill: #7E7E7E; }
rect.purchase, circle.purchase { fill: #AFAFAF; }

rect.highlight, circle.highlight {
  fill: #ffd100 !important;
}

#chart {
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 2;
  height: auto;
  width: auto;
  padding: 0.3em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  background-color: #da291c;
  color: #fff;
  opacity: 1;
  border-radius: 2px;
  pointer-events: none;
}

.hidden {
  opacity: 0;
}

.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 1.2em;
  width: 100%;
  top: 100%;
  left: 0;
  margin: -0.2em 0 0 0;
  line-height: 1;
  color: #da291c;
  content: "\25BC";
  position: absolute;
  text-align: center;
}
