.navigation {
  /* Collapsed */
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  transition: width 0.3s ease;
}

.page-wrap {
  width: 100%;
  float: right;
}

#main-navigation:target {
  width: 20%;
}

#main-navigation:target + .page-wrap {
  width: 80%;
}
