/*===========================================================================*/
/* Global Styles */
svg {
  border: none;
  background-color: $bglight;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.legend text {
  cursor: default;
}

/*===========================================================================*/
/* Chart specific styles */
@import 'styles/attributeChart';
@import 'styles/awareness';
@import 'styles/bar';
@import 'styles/bpi';
@import 'styles/marketMap';
@import 'styles/salesFunnel';
